@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/physicianLoginScreen_cropped.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100vw;
}

/*************      Login Page   *****************/
.container{
    position: relative;
    margin-top: 10%;
    width: 460px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.label{
    padding: 20px 100px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
    white-space: nowrap;
}

.loginForm{

    padding: 20px 50px;
    
}
.loginForm .font{

    font-size: 19px;
    color: #130f40;
    margin: 5px 0;

}
.loginForm input{

    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;

}
.loginForm .font2{
    margin-top: 30px;
}
.loginForm button{
    
    margin: 40px 0 20px 15px;
    height: 45px;
    width: 325px;
    font-size: 20px;
    color:white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #22179a;
    border-radius: 15px;
    border: 1px solid #22179a;
    transition: .5s;
}
.loginForm button:hover{
    background: #3949AB;
}
.loginForm #noUsername,
.loginForm #noPassword{

    margin-top: 5px;
    width: 345px;
    font-size: 16px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;


}





/*************      Side Bar   *****************/

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    background-color: #12171e;
    padding: 10px;
    transition: all 0.5s ease;
}

.sidebar .top {
    display: flex;
    justify-content: space-around;
}

.sidebar #button{
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 50px;
}

.sidebar .top .logo {
    display: none;
    color: white;
    font-size: 1.2rem;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

.userPFP {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;   
}

.user {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-name {
    display: none;
    color: white;
}

.nav-list {
    margin-top: 25px;
    
}

.nav-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
    gap: 10px;
    color: white;
    border-radius: 10px;
}

.nav-list li a:hover {
    background-color: #fff;
    color: #12171e;
}

.nav-list i {
    font-size: 25px;
}

.nav-item {
    display: none;
}

.tooltip {
    position: relative;
    top: -45px;
    left: 100px;
    visibility: hidden;
    background-color: #fff;
    color: #12171e;
    padding: 15px;
    border-radius: 10px;
}

.nav-list li:hover .tooltip {
    visibility: visible;
}

.sidebar.active .nav-list li:hover .tooltip {
    visibility: hidden;
}

.sidebar.active {
    width: 250px;
}

.sidebar.active .top {
    justify-content: space-between;
}

.sidebar.active .top .logo {
    display: block;
}

.sidebar.active .user-name {
    display: block;
}

.sidebar.active .nav-item {
    display: inline;
}

.sidebar.active .nav-list li a {
    padding-left: 20px;
    justify-content: left;
}

/*************      Dashboard Content   *****************/
.main-content {
    background-color: #5ea9d2;
    height: 100%;
    transition: all 0.5s ease;
    width: 100%;
    padding: 15px;
}

.contain {
    display: flex;
}

.main-content h1{
    color: #fff;
    font-size: 50px;
}