.tContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
    height: 100%;
    width: 100%;
}



.tProfile {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--light-bg);
    flex: .5;
    margin-bottom: 10px;

}

.pfp {
    margin-left: 5%;
    margin-right: 5%;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 15px;

}

.Tname {
    background-color: var(--panel);
    flex: 1;
    padding: 10px;
    border: 5px solid var(--dark-accent);
}

.tDetails{
    flex-grow:calc();
    align-items: center;
    box-sizing: border-box;
    background-color: var(--panel);
    border: 2px solid var(--dark-accent);
    margin: 10px;
    position: relative;
    padding-bottom: 60vh;
    

}

.tabs{
    display: flex;
    justify-content: space-between;
}

.tab{
    background: #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 3px solid var(--dark-accent);
    border-top: none;
    cursor: pointer;
    position: relative;
    
}

.active-tab {

    border: none;
    background: var(--panel);
}

.active-tab::after{
    border-top: 2px solid gray;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: new 0.5s;
}

@keyframes new{
    from{
        top: 50px;
        left: 0;
        right: 0;
        background: gray;
    }

    to{
        top: 0px;
        left: 0;
        right: 0;
        border-top: 2px solid grey;
    }
}

.contents{
    position: absolute;
}

.content {
    display: none;
    position: relative;
    margin-bottom: 20px;
}

.active-content {
    display: block;
    margin-top: 5px;
    margin-left: 35px;
    transition: all 2s ease-in-out;
    animation: example 0.3s;
}


@keyframes example{
    from{
        margin: 0;
    }

    to{
        margin-left: 10px;
    }
}


.logout-btn {
    font-size: 10px;
    border: none;
    color: white;
    padding: 0.5rem .5rem;
    border-radius: 10px;
    background-color: #777;
    width: 50px;
    margin-top: 20px;

}
.logout-btn:hover {
    background-color: #b6afaf;
    cursor: pointer;
    box-shadow:  0px 5px 5px #ccc;

}

h2 {
    margin-top: 15px;
}

h3 {
    margin-top: 25px;
    margin-left: 15px;
    
}
p.indented { 
    margin-top: 15px;
    margin-left: 55px;
}