.notifs {
    background: var(--light-bg);
    margin: 0;
    justify-content: center;
}

h1 {
    margin-top: 25px;
    margin-left: 25px;

}


.notifsList{
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    float: none;
    margin-top: 2%;
    margin-left: 5%;
    
}

.nHeading {
    font-size: clamp(3rem, 2.8cqi, 6rem);
    letter-spacing: 0.3rem;
    padding-left: 1.3rem;
    padding-top: 3rem;
}



.notifTable{
    background-color: var(--panel);
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    max-width: 90%;
    margin-top: 0;

}

.notif-scroll::-webkit-scrollbar {
    display: none; /* remove scroll bar For Chrome, Edge, and Safari */
}

.notifTable thead {
    background-color: var(--dark-accent);
}

.notifTable th, 
.notifTable td {
    padding: 0.8rem;
    text-align: center;
    width: calc(100%/8.5);
    font-weight: bold;
}
.notifTable td {
    font-size: (1.3rem, .7cqi, 1.5rem);

}

.notifTable th {
    font-size: clamp(1.5rem, 1cqi, 2rem);
}